.new-battle-window {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    min-width: 336px;
    background-color: rgba(122, 122, 123, 0.9);
}


.fighter-text {
    width: 100%;
    margin-bottom: 5px;
}

.fighter {
    margin-right: 5px;
    margin-left: 5px;
}

.fighters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.fighter {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    font-size: 20px;
    font-family: 'Oswald', 'Arial', sans-serif;
}

.fight-end {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    font-size: 20px;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-align: center;
}


.fight-end-text {
    margin-bottom: 5px;
    font-family: 'Oswald', 'Arial', sans-serif;
}

.nonactive {
    display: none;
}

.btn-lg {
    background-color: white;
    width: 30%;
    min-width: 250px;
    max-width: 400px;
    margin-top: 10px;
    font-family: 'Oswald', 'Arial', sans-serif;
}

.Select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20px;
}

.fatality-end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.custom-radio {
    width: 20px;
    height: 20px;
}

.fighter-roaster {
    width: 254px;
    height: 52px;
    margin-top: 160px;
    margin-left: -2px;
    position: absolute;
    background-color: rgb(233, 236, 239);
    border-top: none;
    border-radius: 0 0 .25rem .25rem;
    border-left: 2px solid #0369d8;
    border-right: 2px solid #0369d8;
    border-bottom: 2px solid #0369d8;
    overflow: scroll;
}
.fighter-roaster_1 {
    display: none;
}
.fighter-roaster_2 {
    display: none;
    z-index: 1;
}

